@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #f5f6fa;
}

.generatedContent {
  position: fixed;
  left: 225px;
}

.wrapper .sidebar {
  background: rgb(73, 156, 204);
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
}

.wrapper .sidebar {
  margin-bottom: 30px;
  text-align: left;
}

.btn-primary {
  position: fixed;
  left: 20px;
}
.delta {
  font-size: x-large;
}
